allow odrefresh aac_drc_prop:file { getattr open };
allow odrefresh ab_update_gki_prop:file { getattr open };
allow odrefresh adaptive_haptics_prop:file { getattr open };
allow odrefresh adbd_config_prop:file { getattr open };
allow odrefresh apexd_config_prop:file { getattr open };
allow odrefresh apexd_prop:file { getattr open };
allow odrefresh apk_verity_prop:file { getattr open };
allow odrefresh audio_config_prop:file { getattr open };
allow odrefresh bluetooth_a2dp_offload_prop:file { getattr open };
allow odrefresh bluetooth_audio_hal_prop:file { getattr open };
allow odrefresh bluetooth_prop:file { getattr open };
allow odrefresh bootanim_config_prop:file { getattr open };
allow odrefresh boottime_prop:file { getattr open };
allow odrefresh boottime_public_prop:file { getattr open };
allow odrefresh bpf_progs_loaded_prop:file { getattr open };
allow odrefresh build_bootimage_prop:file { getattr open };
allow odrefresh camera2_extensions_prop:file { getattr open };
allow odrefresh camerax_extensions_prop:file { getattr open };
allow odrefresh charger_prop:file { getattr };
allow odrefresh codec2_config_prop:file { getattr open };
allow odrefresh cold_boot_done_prop:file { getattr open };
allow odrefresh cpu_variant_prop:file { getattr open };
allow odrefresh ctl_adbd_prop:file { getattr open };
allow odrefresh ctl_apexd_prop:file { getattr open };
allow odrefresh ctl_bootanim_prop:file { getattr open };
allow odrefresh ctl_bugreport_prop:file { getattr open };
allow odrefresh ctl_console_prop:file { getattr open };
allow odrefresh ctl_default_prop:file { getattr open };
allow odrefresh ctl_dumpstate_prop:file { getattr open };
allow odrefresh ctl_fuse_prop:file { getattr open };
allow odrefresh ctl_gsid_prop:file { getattr open };
allow odrefresh ctl_interface_restart_prop:file { getattr open };
allow odrefresh ctl_interface_start_prop:file { getattr open };
allow odrefresh ctl_interface_stop_prop:file { getattr open };
allow odrefresh ctl_mdnsd_prop:file { getattr open };
allow odrefresh ctl_restart_prop:file { getattr open };
allow odrefresh ctl_rildaemon_prop:file { getattr open };
allow odrefresh ctl_sigstop_prop:file { getattr open };
allow odrefresh ctl_start_prop:file { getattr open };
allow odrefresh ctl_stop_prop:file { getattr open };
allow odrefresh dck_prop:file { getattr open };
allow odrefresh debugfs_restriction_prop:file { getattr open };
allow odrefresh device_config_activity_manager_native_boot_prop:file { getattr open };
allow odrefresh device_config_boot_count_prop:file { getattr open };
allow odrefresh device_config_input_native_boot_prop:file { getattr open };
allow odrefresh device_config_media_native_prop:file { getattr open };
allow odrefresh device_config_netd_native_prop:file { getattr open };
allow odrefresh device_config_nnapi_native_prop:file { getattr open };
allow odrefresh device_config_reset_performed_prop:file { getattr open };
allow odrefresh device_config_surface_flinger_native_boot_prop:file { getattr open };
allow odrefresh device_config_vendor_system_native_boot_prop:file { getattr open };
allow odrefresh device_config_vendor_system_native_prop:file { getattr open };
allow odrefresh device_logging_prop:file { getattr open };
allow odrefresh deviceid_prop:file { getattr open };
allow odrefresh drm_service_config_prop:file { getattr open };
allow odrefresh dumpstate_options_prop:file { getattr open };
allow odrefresh dynamic_system_prop:file { getattr open };
allow odrefresh exported_bluetooth_prop:file { getattr open };
allow odrefresh exported_overlay_prop:file { getattr open };
allow odrefresh framework_watchdog_config_prop:file { getattr open };
allow odrefresh gesture_prop:file { getattr open };
allow odrefresh heapprofd_enabled_prop:file { getattr open };
allow odrefresh hwservicemanager_prop:file { getattr open };
allow odrefresh hypervisor_prop:file { getattr open };
allow odrefresh incremental_prop:file { getattr open };
allow odrefresh keyguard_config_prop:file { getattr open };
allow odrefresh llkd_prop:file { getattr open };
allow odrefresh lmkd_prop:file { getattr open };
allow odrefresh logpersistd_logging_prop:file { getattr open };
allow odrefresh lowpan_prop:file { getattr open };
allow odrefresh lpdumpd_prop:file { getattr open };
allow odrefresh media_config_prop:file { getattr open };
allow odrefresh media_variant_prop:file { getattr open };
allow odrefresh mmc_prop:file { getattr open };
allow odrefresh mock_ota_prop:file { getattr open };
allow odrefresh net_dns_prop:file { getattr open };
allow odrefresh nnapi_ext_deny_product_prop:file { getattr open };
allow odrefresh overlay_prop:file { getattr open };
allow odrefresh packagemanager_config_prop:file { getattr open };
allow odrefresh persist_vendor_debug_wifi_prop:file { getattr open };
allow odrefresh persist_wm_debug_prop:file { getattr open };
allow odrefresh persistent_properties_ready_prop:file { getattr open };
allow odrefresh power_debug_prop:file { getattr open };
allow odrefresh provisioned_prop:file { getattr open };
allow odrefresh qemu_hw_prop:file { getattr open };
allow odrefresh qemu_sf_lcd_density_prop:file { getattr open };
allow odrefresh recovery_config_prop:file { getattr open };
allow odrefresh retaildemo_prop:file { getattr open };
allow odrefresh safemode_prop:file { getattr open read };
allow odrefresh settingslib_prop:file { getattr open };
allow odrefresh smart_idle_maint_enabled_prop:file { getattr open };
allow odrefresh storage_config_prop:file { getattr open };
allow odrefresh surfaceflinger_display_prop:file { getattr open };
allow odrefresh suspend_prop:file { getattr open };
allow odrefresh system_boot_reason_prop:file { getattr open };
allow odrefresh system_lmk_prop:file { getattr open };
allow odrefresh system_trace_prop:file { getattr open };
allow odrefresh test_boot_reason_prop:file { getattr open };
allow odrefresh test_harness_prop:file { getattr open };
allow odrefresh theme_prop:file { getattr open };
allow odrefresh time_prop:file { getattr open };
allow odrefresh traced_enabled_prop:file { getattr open };
allow odrefresh traced_lazy_prop:file { getattr open };
allow odrefresh traced_oome_heap_session_count_prop:file { getattr open };
allow odrefresh vehicle_hal_prop:file { getattr open };
allow odrefresh vendor_display_notch_prop:file { getattr open };
allow odrefresh vendor_mm_parser_prop:file { getattr open };
allow odrefresh vendor_persist_rcs_prop:file { getattr open };
allow odrefresh vendor_persist_tcm_prop:file { getattr open };
allow odrefresh vendor_qvirtmgr_prop:file { getattr open };
allow odrefresh vendor_sys_video_prop:file { getattr open };
allow odrefresh vendor_wlc_prop:file { getattr open };
allow odrefresh vendor_wlc_public_prop:file { getattr open };
allow odrefresh virtual_ab_prop:file { getattr open };
allow odrefresh vold_post_fs_data_prop:file { getattr open };
allow odrefresh wifi_hal_prop:file { getattr open };
allow odrefresh wifi_prop:file { getattr open };
allow odrefresh zram_config_prop:file { getattr open };
allow odrefresh zram_control_prop:file { getattr open };
